html {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: row;
}

#unavailable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#unavailable > img {
  max-height: 50vh;
  max-width: 30vw;
  filter: invert(); 
}

#unavailable > h1 {
  margin-top: -1vh;
  font-size: 3vw;
}

.weather {
  display: flex;
  height: 75vh;
  // width: 33vw;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-weather {
  border-right: solid whitesmoke 1px;
  width: 40vw;
}

#hourly-weather {
  font-size: 2.5vw;
  width: 20vw;
}

.hourly {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vw;
}

.hourly-img {
  filter: invert();
  width: 20%;
  max-height: 10vh;
}

.hourly-time {
  width: 40%;
  max-width: 15vw;
  text-align: right;
}

.current-img {
  filter: invert();
  width: 80%;
  max-height: 60vh;
}

.current {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2rem;
  padding-right: 2vh;
}

.current-temp {
  font-size: 11vh;
  padding-right: 1rem;
}

.current-details {
  display: flex;
  flex-direction: column;
}

.current-detail {
  height: 3vh;
  font-size: 1.1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10vw;
  max-width: 13rem;
  padding-left: 1rem;
}
