.Clock {
  cursor: pointer;
}

.Clock-Time {
  font-size: 17rem;
  display: flex;
  flex-direction: row;
}

.Clock-Digits {
  display: flex;
  flex-direction: row;
  margin: 0px 2rem;
}

.Clock-Digit{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.Clock-Digit.Large {
  width: 9.5rem;
}

.Clock-Digit-Half {
  font-size: 6.25rem;
  /* height: 6rem; */
}

.Clock-Date {
  margin-bottom: 10pt;
}
