.IconsAndButtons {
  margin: 2rem;
  padding-right: 1rem;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* border: 1pt solid white; */
  border-radius: 2rem;
}

.Settings-Icon {
  font-size: 24pt;
  padding: 1rem;
  cursor: pointer;
}

.Logos {
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  /* border: 1pt solid white; */
}

.Logos-Icon {
  width: 10rem;
  margin: 5pt;
  filter: grayscale(100%);
  color: white;
  font-size: 30pt;
}
