.Weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Weather-Input {
  margin: 5px;
  padding: 5px 20px;
  font-size: 24pt;
  background-color: inherit;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  font-family: Quicksand;
}

input.Weather-Input:focus {
  outline: none;
}

.WeatherDisplay {
  display: flex;
  max-width: 1000px;
  min-height: 25vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.FutureWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 125px;
  /* border: 1pt solid white; */
  margin: 2rem 0.25rem;
  border-radius: 10px;
  padding: 5px 0px;
  font-size: 22px;
  cursor: pointer;
}

.Weather-Icon {
  text-align: center;
  margin: 15px 0px;
}

.Weather-Icon.Future {
  font-size: 60px;
}

.Weather-Icon.Current {
  font-size: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Weather-Location {
  cursor: pointer;
}

.Weather-Alert {
  position: absolute;
  z-index: 1;
  background-color: black;
  border-radius: 50%;
  padding: 2px;
  color: #b71c1c;
}

.Weather-Alert.Weather {
  font-size: 25pt;
  left: -5px;
  top: -15px;
}

.Weather-Alert.Transit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16pt;
  border: 2pt solid #b71c1c;
  padding: 3.5px;
  left: 90px;
  top: -15px;
  min-width: 20px;
  min-height: 20px;
}

.Weather-Temperature {
  width: 100px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Weather-LowTemp {
  opacity: 0.5;
}

.Weather-TempDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Weather-TempDisplay > i {
  font-size: 24pt;
}

.Weather-Display-SmallText {
  margin: 10px 0px;
  font-size: 14pt;
}

.CurrentWeather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 165px;
  /* border: 1pt solid white; */
  font-size: 36px;
  margin: 2rem 0rem;
  border-radius: 10px;
  padding: 5px 0px;
  cursor: pointer;
}
