.App {
  text-align: center;
}

.App-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  /* background-color: red; */
  /* color: black; */
  font-size: 18pt;
}
